{% extends "base.html" %}

{% block content %}


<header class="intro-header" style="background-image: url('/static/img/home.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Edit Your Comment</h1>
          <hr class="small">
          <span class="text-right">Thoughts</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <form method="post" novalidate>


        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Comment Content</label>
            <textarea name="comment" rows="10" placeholder="Enter your comment content " wrap="soft"></textarea>
          </div>
        </div>


        {% if error %}
        <br>
        <div class="alert alert-danger">
          <strong><div class="text-center">{{error}}</div></strong>
        </div>
        {% endif %}

        <br>
      </div>
    </div>
        <div class="row">
          <div class="form-group col-xs-2">
            <input value="Edit Comment" type="submit" class="btn btn-default align-right"></input >
          </div>
      </form>
      <form method="post" novalidate>
        <div class="form-group col-xs-2">
          <input name="cancel_comment" type="hidden" value="1" />
          <input value="Cancel" type="submit" class="btn btn-warning align-right"></input>
        </div>
      </form>
    </div>
  </div>
</div>

<hr>



{% endblock %}
