{% extends "base.html" %}

{% block content %}

<header class="intro-header" style="background-image: url('/static/img/home.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Edit Post</h1>
          <hr class="small">
          <span class="text-right">Thoughts</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <form method="post" name="newpost" id="newpost" novalidate>

        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Post Title</label>
            <input type="text" class="form-control" placeholder="Enter your post's title" name="subject" >
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Post Content</label>
            <textarea name="content" rows="7" placeholder="Enter your post content " wrap="soft"></textarea>
          </div>
        </div>


        {% if error %}
        <br>
        <div class="alert alert-danger">
          <strong><div class="text-center">{{error}}!</div></strong>
        </div>
        {% endif %}
      </div>
    </div>
        <br>
        <div id="success"></div>
        <div class="row">
          <div class="form-group col-xs-6 text-right">
            <input type="submit" value="Edit Post" class="btn btn-default align-right"></input >
          </div>
      </form>
      <form method="post" novalidate>
        <div class="form-group col-xs-6 text-left">
          <input name="cancel_post" type="hidden" value="1" />
          <input value="Cancel" type="submit" class="btn btn-warning align-left"></input>
        </div>
      </form>
    </div>
</div>
<hr>

  <!-- <h2>Edit Post</h2>

    <form method="post">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form> -->
{% endblock %}
