{% extends "base.html" %}

{% block content %}

<header class="intro-header" style="background-image: url('static/img/contact-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Thoughts</h1>
          <hr class="small">
          <span class="text-right">A place to share your mind</span>
        </div>
      </div>
    </div>
  </div>
</header>

<form method="post">
  <label>
    <div>subject</div>
    <input type="text" name="subject" value="{{subject}}">
  </label>

  <label>
    <div>blog</div>
    <textarea name="content">{{content}}</textarea>
  </label>

  <div class="error">{{error}}</div>

  <input type="submit">
</form>
{% endblock %}
