<div class="post">
  <div class="post-heading" >
    <div class="post-title">
      <div>
        {{p.subject}},{{u.name}}
        </div>
      </div>

      <div class="post-date">
        {{p.created.strftime("%b %d, %Y")}}
      </div>
    </div>

    <div class="post-content">
      {{p._render_text | safe}}
    </div>
    <div>
      <form  method="post">
        <input name="delete_comment" type="hidden" value="1" />
        <input name="post_user_id" type="hidden" value="{{p.user_id}}" />
        <input type="submit" value="Delete" />
      </form>

      <div class="error">{{error}}</div>
      <form method="post">
        <div> Comment: </div>

        <label>
          <textarea name="comment"></textarea>
        </label>
        <input name="add_comment" type="hidden" value="1" />
        <input name="post_user_id" type="hidden" value="{{p.user_id}}" />
        <input type="submit" value="Add Comment">
      </form>
    </div>
  </div>
