
<header class="intro-header" style="background-image: url('/static/img/post-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>{{p.subject}}</h1>
          <span class="meta">Posted by {{u.name}}  on {{p.created.strftime("%b %d, %Y")}}</span>
        </div>
      </div>
    </div>
  </div>
</header>





<!-- Post Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-5">
      <div class="like_button">
        <form method="post">
          <input name="like_post" type="hidden" value="1" />
          <input name="post_user_id" type="hidden" value="{{p.user_id}}" />
          <button class="btn btn-xs btn-block">{{likes_count}} Likes</button>
          <input type="submit" value="{{like_bool}}" class="btn glyphicon btn-xs glyphicon-thumbs-up btn-block"></input>
        </form>
      </div>
    </div>

    <div>
      <article>
        <div class="col-lg-8 col-md-6 col-sm-5">
          <p> {{p.content}} </p>


          {% if error or error_comment%}
          <br>
          <div class="alert alert-danger">
            <strong><div class="text-center">{{error_comment}}{{error}}</div></strong>
          </div>
          {% endif %}
        </div>
      </article>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-5">
      <div class="edit_post">
        <form method="post">
          <input name="edit_post" type="hidden" value="1" />
          <input name="post_user_id" type="hidden" value="{{p.user_id}}" />
          <input type="submit" value="Edit Post" class="btn glyphicon btn-xs btn-block"></input>
        </form>
      </div>

      <div class="delete_btton">
        <form method="post">
          <input name="delete_post" type="hidden" value="1" />
          <input name="post_user_id" type="hidden" value="{{p.user_id}}" />
          <a href="/blog/{{p.key().id()}}/delete" style="white-space: normal" class="btn glyphicon btn-xs btn-danger btn-block">Delete Post</a>
        </form>
      </div>

    </div>

  </div>
  <hr>
  <div class="row">
    <div class="row control-group">

      <div class="col-lg-2 col-md-4 col-sm-5">
        <div class="add_comment">
          <form method="post">
            <input name="add_comment" type="hidden" value="1" />
            <input name="post_user_id" type="hidden" value="{{p.user_id}}" />
            <input type="submit" class="btn glyphicon btn-xs btn-block" value="Add Comment"> </input>
          </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-5">
          <div class="form-group floating-label-form-group controls">

            <textarea name="comment" rows="2" placeholder="Enter your comment" wrap="soft" style="border:solid 1px grey;"></textarea>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <hr>
    <div class="post-heading">
      <h2>Comments</h2>
      <br>
    </div>
  </div>

</div>


</div>
