{% extends "base.html" %}

{% block content %}
<header class="intro-header" style="background-image: url('static/img/home.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Signup</h1>
          <hr class="small">
          <span class="text-right">Thoughts</span>
        </div>

      </div>
    </div>
  </div>
</header>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <form method="post" name="login" id="contactForm" novalidate>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">

            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" name="username" required data-validation-required-message="Please enter your name." value="{{username}}">
            <p class="help-block text-danger"></p>
          </div>
        </div>

        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" id="password" value="" required data-validation-required-message="Please enter your password.">
            <p class="help-block text-danger"></p>
          </div>
        </div>

        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Verify Password</label>
            <input type="password" class="form-control" name="verify" placeholder="Password" id="password" value="" required data-validation-required-message="Please enter your password.">
            <p class="help-block text-danger"></p>
          </div>
        </div>

        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Email</label>
            <input type="email" class="form-control" name="verify" placeholder="Email" id="email" value="{{email}}" required data-validation-required-message="Please enter your email.">
            <p class="help-block text-danger"></p>
          </div>
        </div>

          {% if error_username or error_email or error_verify or error_password %}
            <br>
            <div class="alert alert-danger">
              <strong><div class="text-center">{{error_username}} {{error_email}} {{error_verify}} {{error_password}}</div></strong>
            </div>
            {% endif %}

        <br>
        <div id="success"></div>
        <div class="row">
          <div class="form-group col-xs-12">
            <input type="submit" value="Sign in" class="btn btn-default align-right"></input >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<hr>

{% endblock %}
